* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	font-family: 'Ubuntu', sans-serif;
	overflow: hidden;
	color: #fff;
	background: linear-gradient(10deg, #2483ff 60%, #2c6afb 60%);
}

nav {
	margin-top: 100px;
	background-color: #292929;
	text-align: center;
}

ul {
	list-style: none;
	font-size: 24px;
}

.menu-item {
	display: inline-block;
	height: 100px;
	width: 300px;
	line-height: 100px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.menu-item:hover {
	background-color: #363636;
}

.dropdown {
	position: absolute;
	width: 300px;
}

.dropdown li {
	background-color: #50515a;
	opacity: 0;
	display: none;
	transition: color 0.3s;
}

.dropdown li:hover {
	color: royalblue;
}

.menu-item:hover .dropdown li {
	display: block;
	animation: menu1 0.5s forwards;
}

.menu-item:hover .dropdown li:nth-child(2) {
	animation-delay: 0.2s;
}

.menu-item:hover .dropdown li:nth-child(3) {
	animation-delay: 0.4s;
}

.menu-item:hover .dropdown li:nth-child(4) {
	animation-delay: 0.6s;
}

.menu-item:hover .dropdown li:nth-child(5) {
	animation-delay: 0.8s;
}

.menu-item:hover .dropdown li:nth-child(6) {
	animation-delay: 1s;
}

@keyframes menu1 {
	from {
		opacity: 0;
		transform: rotate(36deg);
	}
	to {
		opacity: 1;
		transform: rotate(0);
	}
}

.two:hover .dropdown li {
	animation: menu2 0.5s forwards;
}

@keyframes menu2 {
	from {
		opacity: 0;
		transform: translateY(60px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.three:hover .dropdown li {
	animation: menu3 0.5s forwards;
}

@keyframes menu3 {
	from {
		opacity: 0;
		transform: rotateY(-60deg) translateX(60px);
	}
	to {
		opacity: 1;
		transform: rotateY(0) translateY(0);
	}
}

.four:hover .dropdown li {
	animation: menu4 0.5s forwards;
	transform-origin: top;
}

@keyframes menu4 {
	from {
		opacity: 0;
		transform: scale(0.8) translateY(-40px);
	}
	to {
		opacity: 1;
		transform: scale(1) translateY(0);
	}
}
